p{
font: 12pt sans-serif; margin: 3px;
color: black;
}
label {
font: 10pt sans-serif; padding: 3px;
margin: 3px;
color: black;
}
.chart {
  background-color: #C7D9D9;
}



.legend {
  font-size: 12px;
  font-family: sans-serif;
  fill: black;
}